.navbar {
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 80%; 
  max-width: 1200px; 
  margin: 1rem auto;
  border-radius: 18px; 
  opacity: 0;
  animation: fadeInDown 1s ease-in-out forwards;
}

.navbarBrand {
  display: flex;
  align-items: center;
  animation: fadeInDown15 1s ease-in-out forwards;
}

.brandLink {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLinks {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navLinks, .languageToggle, .link {
  opacity: 0;
  animation: fadeInDown15 1s ease-in-out 0.2s forwards;
}

.navLinks > :nth-child(1) {
  animation-delay: 0.1s;
}
.navLinks > :nth-child(2) {
  animation-delay: 0.2s;
}
.navLinks > :nth-child(3) {
  animation-delay: 0.3s;
}
.navLinks > :nth-child(4) {
  animation-delay: 0.4s;
}
.languageToggle {
  animation-delay: 0.5s;
}



.link {
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ff7f50;
}


@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-25px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInDown15 {
  from {
      opacity: 0;
      transform: translateY(-15px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 95%;
  }
  .navLinks {
    display: none; /* Hide links on mobile */
  }
}