.section {
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 2rem;
  color: #ff7f50;
}

.imageContainer,
.image,
.name,
.role,
.textContainer,
.paragraph,
.title,
.text {
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  flex-direction: row;
}

.imageContainer {
  width: 320px;
  min-width: 320px;
  background-color: #000000;
  border-radius: 18px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: unset;
}

.imageWrapper {
  position: relative;
  width: 16rem;
  height: 16rem;
  margin: 1rem auto;
}

.image {
  border-radius: 16px;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.25rem;
}

.role {
  font-size: 1rem;
  text-align: center;
  color: #c0c0c0;
}

.textContainer {
  flex: 1;
  background-color: #000000;
  border-radius: 18px;
  padding: 2rem;
}

.paragraph {
  font-size: 1.125rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

@keyframes fadeInRightToLeft {
  from {
    opacity: 0;
    transform: translateX(25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeftToRight {
  from {
    opacity: 0;
      transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn 1s ease-in-out 0.15s forwards;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out 0.15s forwards;
}

.fadeInUp {
  transform: translateY(25px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.fadeInRightToLeft {
  animation: fadeInRightToLeft 1s ease-in-out 0.15s forwards;
}

@media (max-width: 905px) {
  .content {
    flex-direction: column;
  }

  .imageWrapper {
    margin-bottom: 1.5rem;
  }

  .imageContainer {
    width: 100%;
    min-width: unset;
  }
}   

@media (max-width: 768px) {
    .container {
      width: 95%;
    }
}
