.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.shortcutsLeft, .shortcutsRight {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.shortcut {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.shortcut:hover {
    background-color: #e8541e;
    scale: 1.05;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .shortcutsLeft, .shortcutsRight {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .shortcut {
        width: 100%;
    }
}